.card {
    display: flex;
    width: 300px;
    height: 129px;
    border: 2px solid rgba(217, 139, 37,0.5);
    align-items: center;
    background-color: rgba(217, 139, 37,0.1);
    margin: 20px 20px 0px 10px;
    border-radius: 8px;
    cursor: pointer;
}


.image {
    width: 130px;
    height: 83px;
    margin: 0px 0px 5px 5px;
}

.li_continer {
    list-style: none;
}

.green {
    color: green;
    font-weight: 700;
    margin: 10px 0px;
}


.card_continer {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 130px;
    
}


.head {
    margin: 50px 30px 0px 140px;
}

.card2_continer {
    display: flex;
    margin: 0px 0px 0px 130px;
    flex-wrap: wrap;
    
}

.card2 {
    display: flex;
    flex-direction: column;
    width: 257px;
    height: 350px;
    border: 2px solid rgba(0,0,0,0.3);
    align-items: flex-start;
    background-color: white;
    margin: 20px 20px 0px 10px;
    border-radius: 8px;
}


.image2 {
    height:150px ;
    width: 250px;
    background: transparent;
    margin: 30px 0px 0px 0px;
}

.off_tag {
    background-color: green;
    border-radius: 0px 8px 0px 8px;
    padding: 3px 3px 1px 1px;
    margin: 0px 0px 0px 188px;
    width: 67px;
}



.dis {
    font-size: 12px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0px 0px 0px 25px;
}

.pri {
    font-weight: 900;
    margin: 0px 0px 0px 25px;
}

.name {
    font-weight: 500;
    margin: 10px 0px 10px 25px;
}


.btn {
    width: 80%;
    margin: 10px 10px 0px 25px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(241, 87, 31);
    border: none;
    cursor: pointer;
}