@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: white;
  font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    align-items:baseline;
    background-color: rgba(0,0,0,0.55);
    height: 60px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.logo {
    padding: 5px;
    margin: 0px 0 0 30px;
    color: whitesmoke;
    font-weight: 1000;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: none;
  padding: 5px;
  height: 26px;
  border-radius: 5px 0 0 5px;
  outline: none;

}


.searchButton {
  width: 40px;
  height: 36px;
  border: none;
  background: rgba(222, 224, 224,1);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  margin: 0px 0px 0px 200px;
  padding: 0;
}


.icon {
    width: 30px;
    height: 30px;
}